.nn{
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #D5B263;
}
.object-fit-cover{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
}
.translate-middle {
 background-color: #00000064;
 border-radius: 10px;
}
.translate-middle h1{
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal; 
 }
 .sp{
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
 }
.text{
  color: #D5B263;
}
.hh{
  color: #D5B263;
}
.cc{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:20px;
}
.ic{
  color: #D5B263;
}
.findus{
  filter: opacity(60%);
  background-image: url(./image&videos/find.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
}
.find-container{
  position: relative;
}
.find-bar{
  color: #D5B263;
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
  
}
.info{
   border-bottom: 1px solid #D5B263;
}
.contact-icon i{
  color: white;
  background-color: #D5B263;

}
.ib form button{
  background-color: #D5B263;
  border-style: none;
}
.ib form input{
  border-style: none;
  outline: none;
}
.navi{
  border-bottom: 1px solid #D5B263;
  border-top: 1px solid #D5B263;
}
.navi a{
  color: #D5B263;
}
.contact-details h3{
  color: #D5B263;
}
.contact-details h1{
  color: #D5B263;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  
}
.contact-details p{
  color: #D5B263;
}

.label{
 text-align: center;
  cursor: pointer;
  width: 100%;
  color: #D5B263;
}
.labe i{
  color: #D5B263;
}
#ch{
  display: none;
}
#ch:checked ~ .content{
  display: block;
  transition:ease 0.8s;
}
#ch:checked ~ label{
  display: none;
  transition: ease 0.8s;

}
.content{
  display: none;
  transition:ease 0.3ms;
}
.btp a{
  text-decoration: none;
  color: #D5B263;
}
@media (max-width:425px){
  .hero-content{
    padding: auto;
  }
}
.head{
  color: #D5B263;
  font-family:"Pirata One", system-ui; 
  font-weight: 400; 
  font-style: normal; 
  letter-spacing: 5px;
}




