*{
    margin: 0;
    padding: 0;
}
.btn-gp{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bg-1 button{
    background-color: #ffb30075;
    color:#000000;
    border-style: none;
    border-radius:  5px ;
    padding: 5px 10px;
}
.bg-2 button{
    
    background-color: #ffb30075;
    color:#000000;
    border-style: none;
    border-radius:  5px ;
    padding: 5px 10px;
}
.paragraph .text-center{
    color: #D5B263;
}
.contact{
    border-top: 2px solid #D5B263;
}
.rs-carosusel{
    align-items: center;
}
.rs-carosusel .fs-3{
    color: #D5B263;
}
.line{
    margin: 20px 10px 0px ;
    height: 2px;
    width: 40px;
    background-color: #D5B263;
}
.ci{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
}
@media (max-width : 425px){
    .line{
        margin: 10px 5px 0px ;
        height: 2px;
        width: 20px;  
    }
}